html,body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.unselectable{
	cursor: default;
	display: block;
	margin: auto;
	margin-bottom: 1em;
	vertical-align: middle;
	text-align: center;
}
.fill{
	width: 100%;
	height: 100%;
}
.row{
	display: table-row;
}
.cell{
	display: table-cell;
}
.unselectable,#tabs-list div.tab{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.close-button{
	float: right;
	font-weight: bold;
	font-size: 24px;
	margin-top: -5px;
	font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
    line-height: 17px;
    margin-top: 0;
    display: block;
}
.close-button:hover{
	color: red;
}
#head{
	right: 0;
	top: 0;
	width: 100%;
	height: 40px;
	border-bottom-style: solid;
	background-color: white;
	transition: height 0.3s;
	z-index: 10;
    font-size: 10px;
    font-family:verdana,sans-serif;
    background-color: #DFEFFF;
}
#info{
	display: table;
	width: 100%;
}
#title{
	display: table-cell;
}
#topic{
	display: table-cell;
	text-align: right;
}
#content{
	width: 100%;
	height: calc(100% - 61px);
	top: 41px;
	left: 0;
    font-size: 10px;
    font-family:verdana,sans-serif;
    line-height:13px;
    background-color: #DFEFFF;
}
#content-list li:nth-child(even) {
    background-color: #cae4ff;
}
#content-list a, #content-list a:hover, #content-list a:active , #content-list a:active, #content-list a:link {
	color:blue;
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 255, 0.3);

}
#content-list a:hover {
	text-decoration: none;
	text-shadow: 0 0 4px rgba(0, 40, 170, 0.5);
}

#settings,#users{
	font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
	font-size: 12px;
	bottom: 0;
	height: 19px;
	background-color: white;
	border-left-style: solid;
	border-top-style: solid;
	margin-top: -1px;
	transition: width 0.5s, height 0.5s, right 0.5s;
}
#settings span,#users span{
	cursor: pointer;
}
#users{
	right: 0;
	width: 36px;
	z-index: 1;
	background-color: #cae4ff;
}
#settings{
	width: 50px;
    border-top-color: rgba(102, 153, 255, 0.6);
	border-right-style: solid;
	right: 36px;
	background-color: #cae4ff;

}
#settings.hovered,#users.hovered{
	height: 21px;
}
#settings.open,#users.open{
	width: 150px;
	height: 100%;
	right: 0;
	z-index: 20;
}
#settings.open{
	width: 300px;
}
#entry{
	width: 100%;
	border-top-style: solid;
	height: 19px;
	bottom: 0;

}
#input{
	width: calc(100% - 126px);
	height: 17px;
	margin: 0;
	padding: 1px;
	border-style: none;
	clear: none;
	bottom: 0;
	left: 0;
	background-color: #cae4ff;
}
#send{

	clear: none;
	bottom: 0;
	right: 88px;
	width: 48px;
	padding: 0;
	padding-bottom: 4px;
	margin: 0;
	height: 19px;
	border-style: none;
	border-left: 1px solid;
	background-color: #cae4ff;
	transition: background-color 0.2s;
	font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
	font-size: 12px;
	vertical-align: top;
	text-align: center;
}
#send:hover{
	background-color: #DFEFFF;
}
#send.clicked{
	background-color: rgba(102, 153, 255, 0.9);
}
#popup-title, #send {
	font-variant: small-caps;
}

#content,#head,#users,#entry,#input,#send,#settings{
 	border-color: rgba(102, 153, 255, 0.6);
 	border-top-color: rgba(102, 153, 255, 0.9);
	border-width: 1px;
	overflow: hidden;
	position: absolute;
}
#users,#input,#send,#settings{
	position: fixed;
}
#content-list,#user-list,#settings-list,#tabs-list{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow-y: auto;
}
#content-list,#user-list,#tabs-list{
	width: 100%;
	height: 100%;
}
#settings-list{
	display: table;
}
#settings-list > li{
	line-height: 4px;
}
#user-list{
	font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
	font-size: 15px;
}
#user-list li:nth-child(even) {
    background-color: #DFEFFF;
    border: solid 1px #6699ff;
    border-left: 0px;
    border-right: 0px;
}
#tabs-list{
	width: calc(100% - 42px);
	height: 20px;
	position: absolute;
	left: 0;
	top: 20px;
	overflow: hidden;
}
#tabs-list div.tab{
	float: left;
	max-width: 200px;
	overflow: hidden;
	position: relative;
    height: 18px;
    margin-bottom: -1px;
}
#tabs-list div.tab.clicked{
    background-color: #cae4ff;
    border: solid 1px #6699ff;
	border-bottom-width: 0px;
}
#tabs-scroll-left{
	position: absolute;
	right: 20px;
	top: 20px;
	height: 20px;
	width: 20px;
}
#tabs-scroll-right{
	position: absolute;
	right: 0;
	top: 20px;
	height: 20px;
	width: 20px;
}
#tabs-list div.tab, #tabs-scroll-right,#tabs-scroll-left{
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
    border: 1px solid rgba(102, 153, 255, 0.3);
    border-top-color: rgba(102, 153, 255, 0.6);
	border-width: 1px;
	border-bottom-width: 0px;
	padding: 0;
	margin: 0;
	background-color: white;
	cursor: pointer;
	clear: none;

    display: block;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    text-align: center;
    vertical-align: center;
    line-height: 16px;
    background-color: #DFEFFF;

}

#tabs-list div.tab{
    padding-right: 15px;
}
#tabs-list div.tab:hover, #tabs-scroll-right:hover,#tabs-scroll-left:hover{
    background-color: #cae4ff;
}
#tabs-scroll-left.disabled, #tabs-scroll-right.disabled{
    background-color: #cae4ff;
    border: solid 1px #6699ff;
	border-bottom-width: 0px;

}