<!-- IF OIRC_SHOW -->
<div class="forabg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dt>
						<div class="list-inner">
							{OIRC_TITLE}
						</div>
					</td>
				</dl>
			</li>
		</ul>
		<ul class="topiclist forums">
			<li class="row">
				<iframe style="width:100%;height:{OIRC_HEIGHT}px;margin:0;padding:0;border-style:none;" src="{OIRC_FRAMEURL}"></iframe>
			</li>
		</ul>
	</div>
</div>
<script type="text/javascript">
(function(){
	var doFlash = false,
		intervalHandler = false,
		originalTitle = "",
		startFlash = function(){
			if(!doFlash){
				var alternator = true;
				doFlash = true;
				originalTitle = document.title;
				intervalHandler = setInterval(function(){
					document.title = (alternator?"[ @] ":"[@ ] ")+originalTitle;
					alternator = !alternator;
				},500);
			}
		},
		stopFlash = function(){
			if(intervalHandler){
				clearInterval(intervalHandler);
				intervalHandler = false;
				document.title = originalTitle;
			}
			doFlash = false;
		};
	window.addEventListener("message",function(e){
		if(e.origin === "{OIRC_DOMAIN}"){
			switch(e.data){
				case "startFlash":
					startFlash();
					break;
				case "stopFlash":
					stopFlash();
					break;
			}
		}
	},false);
})();
</script>
<!-- ENDIF -->
